@mixin setFont($size) {
  font-size: $size;

  justify-content: center;
  align-items: center;
}

.comment {
  width: 80%;
  margin-left: 10%;
  background-color: #52849b;
  border: 2px solid #d9ff50;
  border-radius: 30px;
  margin-bottom: 1%;
  padding: 1%;
  position: relative;

  &Text {
    @include setFont(26px);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 35px;
  }
}

.discardComment {
  background: #ff6c6c;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  font-size: 16px;
}

.author {
  @include setFont(20px);
  color: #1f041f;
  padding-right: 35px;
}

.createDate {
  color: #050513;
  font-size: 14px;
  font-style: oblique;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 20px;
}

.likeButton {
  font-size: 19px;
  margin-top: 10px;
  margin-left: 3%;

  &NotLiked {
    background: #938289;

    &:hover {
      background: #e39c9c;
    }
  }

  &Liked {
    background: #ff6c6c;
  }
}

