.card {
    width: 30%;
    background-color: #3b6072;
    border: 5px solid #d9ff50;
    border-radius: 30px;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.text {
    padding-bottom: 10px;
}

.makeFull {
    width: 50%;
}

.like {
    width: 20%;
}

.notLiked {
    background: #938289;
}

.liked {
    background: #ff6c6c;
}

.likeButton {
    font-size: 26px;
    margin-top: 10px;
}

.commentsButton {
    font-size: 26px;
    background: rgba(225, 220, 225, 0.76);
}

.comment {
    font-size: 26px;
    width: 80%;
    margin-left: 10%;
    background-color: #52849b;
    border: 2px solid #d9ff50;
    border-radius: 30px;
    margin-bottom: 1%;
    padding: 1%;
    position: relative;
}

.discardComment {
    background: #ff6c6c;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
}

.comment_text {
    font-size: 26px;
}

.author {
    font-size: 20px;
    color: #1f041f;
}
