.card {
    width: 30%;
    background-color: #3b6072;
    border: 5px solid #d9ff50;
    border-radius: 30px;
    margin-bottom: 1%;
    padding-bottom: 1%;

    &MakeFull {
        width: 50%;
    }
}

@mixin setFont($size) {
    font-size: $size;

    justify-content: center;
    align-items: center;
}

.text {
    padding-bottom: 10px;
}

.makeFull {
    width: 50%;
}

.like {
    width: 20%;
}

.notLiked {
    background: #938289;
}

.liked {
    background: #ff6c6c;
}

.likeButton {
    @include setFont(26px);
    margin-top: 10px;

    &NotLiked {
        background: #938289;
    }

    &Liked {
        background: #ff6c6c;
    }
}

.commentsButton {
    @include setFont(26px);
    background: rgba(225, 220, 225, 0.76);
}

.comment {
    width: 80%;
    margin-left: 10%;
    background-color: #52849b;
    border: 2px solid #d9ff50;
    border-radius: 30px;
    margin-bottom: 1%;
    padding: 1%;
    position: relative;

    &Text {
        @include setFont(26px);
    }
}

.discardComment {
    background: #ff6c6c;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
}

.commentText {
    font-size: 26px;
}

.author {
    @include setFont(20px);
    color: #1f041f;
}
